<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          class="p-2"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
      </li>
      <li>
        <a class="p-2" routerLink="/test-error" routerLinkActive="active"
          >Test errors</a
        >
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <a
        href="#"
        class="cart position-relative d-inline-flex me-4"
        aria-label="View your shopping cart"
      >
        <i class="fas fa fa-shopping-cart fa-lg"></i>
        <span
          class="cart-basket d-flex align-items-center justify-content-center"
        >
          0
        </span>
      </a>
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>
