a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #04080b;

  &.active {
    color: #2609e4;
  }
}

a.cart:hover {
  text-decoration: none;
  color: #28031c;
}

a.cart .cart-basket {
  font-size: 0.6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}
